# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
node/node_modules

# testing
frontend/coverage
node/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
node/npm-debug.log*
node/yarn-debug.log*
node/yarn-error.log*

# local env files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

node/.env
node/.env.local
node/.env.development.local
node/.env.test.local
node/.env.production.local

# vercel
frontend/.vercel
